{% extends 'template.html' %}
{% load static compress %}
{% block addcss %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'performance/css/home.css' %}">
    {% endcompress %}
{% endblock %}
{% block addjs %}
    {% compress js %}
    <script src="{% static 'performance/js/home.js' %}"></script>
    {% endcompress %}
    {% block add_js %}
    {% endblock %}
{% endblock %}
{% block addbody %}
    {% csrf_token %}
    <div class="container1">
        <div class="home_list"><a href="{% url 'home' %}">Home</a><span>>></span><a href="{% url 'perf:plan_home' %}">Performance Test</a>
        </div><a href="{% url 'user:logout' %}">Logout</a>
    </div>
    <div class="container2">
        <div class="list-icon" style="margin-top: 35px;"><a href="{% url 'perf:home' %}">Home</a></div>
        <div class="list-icon" title="Corresponds to Test Plan in JMeter."><a href="{% url 'perf:plan_home' %}">Test Plan</a></div>
        <div class="list-icon" title="Corresponds to Thread Group in JMeter."><a href="{% url 'perf:group_home' %}">Thread Group</a></div>
        <div class="list-icon" title="Corresponds to Transaction Controller in JMeter."><a href="{% url 'perf:controller_home' %}">Controller</a></div>
        <div class="list-icon" title="Corresponds to HTTP Request in JMeter."><a href="{% url 'perf:sample_home' %}">HTTP Sample</a></div>
        <div class="list-icon" title="Corresponds to HTTP Header Manager in JMeter."><a href="{% url 'perf:header_home' %}">HTTP Header</a></div>
        <div class="list-icon"><a href="{% url 'perf:jmeter_home' %}">Upload JMeter</a></div>
        <div class="list-icon"><a href="{% url 'perf:task_home' %}">Test Task</a></div>
    </div>
    <div class="container3">
        <div class="toolbar">
            {% block toolbar %}
                <div style="height: 35px;"><div class="navigate">
                        {% block navigate %}{% endblock %}
                    </div>
                    {% block searchBlock %}{% endblock %}
                </div>
            {% endblock %}
            <div class="vertical-bar"></div>
        </div>
        <div class="detail">
            {% block detail %}
                <div class="detail-action">
                    {% block detail_action %}
                    {% endblock %}
                </div>
                {% block other_content %}
                {% endblock %}
                <table id="layout-table" class="table table-bordered">
                    <thead>
                        {% block table_head %}
                        {% endblock %}
                    </thead>
                    <tbody id="tbody">
                        {% block table_body %}
                        {% endblock %}
                    </tbody>
                </table>
            {% endblock %}
            {% block back_body %}
            {% endblock %}
        </div></div>
    <div id="myModal"></div>
    <div class="modal_cover"><div class="modal_gif"></div></div>
{% block fenye %}
    <div class="fenye"><ul id="paging" class="pagination"></ul></div>
{% endblock %}
{% endblock %}
{% block backjs %}
    {% compress js %}
    <script src="{% static 'js/fenye.js' %}"></script>
    {% endcompress %}
{% endblock %}
{% block define_js %}
{% endblock %}
