{% extends 'shell_home.html' %}
{% load static compress %}
{% load myFilter %}
{% block container2 %}
    <div id="filter">
        <div style="width: 30%; float: none;"><button id="upload-package">Upload Package</button></div>
        {% if servers %}
            <div>
                <span>Current Server <strong>{{ servers.host }}</strong>: System release version is
                    <strong style="color: red;">{{ servers.system }}</strong>, CPU architecture is
                    <strong style="color: red;">{{ servers.arch }}</strong>,
                    Please check system version and CPU Arch before you deploy package.
                </span>
            </div>
        {% endif %}
    </div>
    <table id="layout-table" border="1" cellspacing="0" cellpadding="6">
        <thead>
            <tr class="table_style">
                <th width=15%>Name</th>
                <th width=10%>Type</th>
                <th width=10%>System</th>
                <th width=10%>Arch</th>
                <th width=10%>Creator</th>
                <th width=12%>CreateTime</th>
                <th width=20%>Action</th>
            </tr>
        </thead>
        <tbody id="tbody">
            {% for package in packages %}
                <tr>
                    <td style="padding-left: 3px;">{{ package.name }}</td>
                    <td style="text-align: center;">{{ package.type }}</td>
                    <td style="text-align: center; color: red;">{{ package.system }}</td>
                    <td style="text-align: center; color: red;">{{ package.arch }}</td>
                    <td style="text-align: center;">{{ package.operator }}</td>
                    <td style="text-align: center;">{{ package.create_time | date:"Y-m-d H:i:s" }}</td>
                    <td>
                        {% if servers %}
                            <a onclick="deploy('{% url 'shell:deploy_package' %}', '{{ servers.host }}', '{{ package.id }}', '{{ package.system }}', '{{ package.arch }}')">Deploy</a>
                            <a onclick="stop_deploy('{% url 'shell:stop_package' %}', '{{ servers.host }}', '{{ package.id }}')">Uninstall</a>
                        {% endif %}
                        <a href="" onclick="delete_package('{% url 'shell:delete_package' %}', '{{ package.id }}')">Delete</a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="myModal">
        <div class="modal-content">
            <div class="modal-header"><span class="close">&times;</span><h2 id="title-name">Upload Package</h2></div>
            <div class="modal-body">
                <div class="modal-col"><div class="label"><label>System: </label></div><div class="input">
                        <select id="system-version">
                            <option value="Ubuntu">Ubuntu</option>
                            <option value="CentOS">CentOS</option>
                            <option value="Debian">Debian</option>
                            <option value="RedHat">Red Hat</option>
                        </select></div></div>
                <div class="modal-col"><div class="label"><label>CPU Arch: </label></div><div class="input">
                        <select id="cpu-arch">
                            <option value="x86_64">X86 Arch 64bits</option>
                            <option value="x86">X86 Arch 32bits</option>
                            <option value="arm64">Arm Arch 64bits</option>
                            <option value="arm32">Arm Arch 32bits</option>
                            <option value="amd64">Amd Arch 64bits</option>
                            <option value="amd32">Amd Arch 32bits</option>
                        </select></div></div>
                <div class="modal-col"><div class="label"><label>Package Type: </label></div><div class="input">
                        <select id="agent-type">
                            <option value="collector-agent">Collector Agent</option>
                            <option value="monitor-agent">Monitor Agent</option>
                            <option value="jmeter-agent">JMeter Agent</option>
                            <option value="nginx-agent">Nginx Agent</option>
                            <option value="java">JAVA</option>
                            <option value="jmeter">JMeter</option>
                        </select></div></div></div>
            <div class="modal-footer"><a class="cancel">Cancel</a><a class="submit">Submit</a></div></div></div>
    <input type="file" name="filename" id="uploadpackage" accept=".zip, .tar.gz" style="display: none">
    <div class="modal_cover"><div class="modal_gif"></div></div>
{% endblock %}
{% block define_js %}
    {% compress js %}
    <script src="{% static 'shell/js/package.js' %}"></script>
    {% endcompress %}
    <script type="text/javascript">
        document.getElementsByClassName('home_list')[0].innerHTML = '<a href="{% url 'home' %}">Home</a><span>>></span><a href="{% url 'shell:index' %}">Shell</a><span>>></span><a href="{% url 'shell:package_home' %}">Package</a>';
    </script>
{% endblock %}
