{% extends "mitm/template.html" %}
{% load my_tags %}

{% block page_content %}
<div class="page-header">
    <a href="{% url 'mitm:course' %}" target="_blank" style="width: 8%; float: right; margin-bottom: 2%; margin-right: 2%;"><button style="width: 100%;">Course</button></a>
    <button id="Reload" style="width: 8%; float: right; margin-bottom: 2%; margin-right: 1%;">Active</button>
    <button id="Add" style="width: 8%; float: right; margin-bottom: 2%; margin-right: 1%;"> Add </button>
    <table width="100%" border="1" cellspacing="0" cellpadding="6" align="center" id="monitor" style="table-layout: fixed;">
        <tr style="align: center; margin: auto; background-color: #99CCFF">
            <th width=15% style="text-align: center;">Name</th>
            <th width=10% style="text-align: center;">Domain Name</th>
            <th width=15% style="text-align: center;">url Path</th>
            <th width=10% style="text-align: center;">Mitm Model</th>
            <th width=10% style="text-align: center;">Creator</th>
            <th width=10% style="text-align: center;">Modifier</th>
            <th width=10% style="text-align: center;">Update Time</th>
            <th width=20% style="text-align: center;">Actions</th>
        </tr>
        {% for data in datas %}
            <tr>
                <td style="white-space: nowrap;text-overflow: ellipsis; overflow: hidden;" title="{{ data.name }}">{{ data.name }}</td>
                <td style="white-space: nowrap;text-overflow: ellipsis; overflow: hidden;" title="{{ data.domain }}">{{ data.domain }}</td>
                <td style="white-space: nowrap;text-overflow: ellipsis; overflow: hidden;" title="{{ data.url_path }}">{{ data.url_path }}</td>
                <td align="center" title="{{ data.method }}">{{ types |get_list:data.method }}</td>
                <td align="center" style="white-space: nowrap;text-overflow: ellipsis; overflow: hidden;" title="{{ data.creator }}">{{ data.creator }}</td>
                <td align="center" style="white-space: nowrap;text-overflow: ellipsis; overflow: hidden;" title="{{ data.modifier }}">{{ data.modifier }}</td>
                <td align="center" style="white-space: nowrap;text-overflow: ellipsis; overflow: hidden;">{{ data.update_time | date:"Y-m-d H:i:s" }}</td>
                <td align="center">
                    {% if data.is_valid > 0 %}
                    <input name="{{ data.id }}" type="radio" value="1" checked onclick="set_is_run('{{ data.id }}', 1)">Enable
                    <input name="{{ data.id }}" type="radio" value="0" onclick="set_is_run('{{ data.id }}', 0)">Disable
                    {% else %}
                    <input name="{{ data.id }}" type="radio" value="1" onclick="set_is_run('{{ data.id }}', 1)">Enable
                    <input name="{{ data.id }}" type="radio" value="0" checked onclick="set_is_run('{{ data.id }}', 0)">Disable
                    {% endif %}
                    <a href="#" onclick="edit('{% url 'mitm:edit' data.id %}')" style="margin-left: 2%; text-decoration: none;">Edit</a>
                    <a href="#" onclick="openResult('{% url 'mitm:delete' data.id %}')" style="margin-left: 2%; text-decoration: none;">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block edit_content %}
    <div class="myModal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 id="title-name">Add/Edit MitmProxy</h2>
            </div>
            <div class="modal-body">
                <div class="modal-col" id="ID1" style="display: none;">
                    <div class="label">
                        <label>ID: </label>
                     </div>
                    <div class="input">
                        <input type="text" id="ID" value="" readonly disabled>
                    </div>
                </div>
                <div class="modal-col">
                    <div class="label">
                        <label>Name: </label>
                     </div>
                    <div class="input">
                        <input type="text" id="name" placeholder="Please input name ">
                    </div>
                </div>
                <div class="modal-col">
                    <div class="label">
                        <label>Domain: </label>
                    </div>
                    <div class="input">
                        <input type="text" id="domain_name" placeholder="Please input domain name, like: .*baidu.com">
                    </div>
                </div>
                <div class="modal-col">
                    <div class="label">
                        <label>Url Path：</label>
                    </div>
                    <div class="input">
                        <input type="text" id="url_path" placeholder="Please input url path, like: /static.*json">
                    </div>
                </div>
                <div class="modal-col">
                    <div class="label">
                        <label>Matching: </label>
                     </div>
                    <div class="input">
                        <select id="is_re">
                            <option value="0">Use "=" to match domain name or url path</option>
                            <option value="1" selected="selected">Use regular to match domain name or url path</option>
                        </select>
                    </div>
                </div>
                <div class="modal-col">
                    <div class="label">
                        <label>Intercept: </label>
                     </div>
                    <div class="input">
                        <select id="method" onchange="changeMethod()">
                            <option value="0" selected="selected">Directly intercept HTTP request</option>
                            <option value="1">Tamper with HTTP request parameters or response values</option>
                        </select>
                    </div>
                </div>
                <div class="modal-col" id="STATUS">
                    <div class="label">
                        <label>Status Code：</label>
                    </div>
                    <div class="input">
                        <input type="text" id="status_code" placeholder="Please input response status code ~">
                    </div>
                </div>
                <div class="modal-col" id="RESPONSE">
                    <div class="label">
                        <label>Response：</label>
                    </div>
                    <div class="input">
                        <textarea id="response" placeholder="Response values,  it is a string to be returned, or a file path where the returned value is stored." rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-col" id="FIELD" style="display: none;">
                    <div class="label">
                        <label>Tamper Field：</label>
                    </div>
                    <div class="input">
                        <textarea id="fields" placeholder='See the tutorial for details. Example: {"requestUrl": {"wd": "love"}, "requestBody": {"data.0.id": "520"}, "responseBody": {"data.0.id": "521"}}' rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-col" id="ISRESPONSE">
                    <div class="label">
                        <label>Response Type：</label>
                    </div>
                    <div class="input">
                        <select id="is_file">
                            <option value="0" selected="selected">Content of the 'Response' is the string that needs to be returned.</option>
                            <option value="1">Content of the 'Response' is the file path where stores returned value.</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="cancel">Cancel</a>
                <a class="submit">Submit</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block myjs %}
<script type="text/javascript">
    window.onload = function() {
        let height = window.outerHeight;
        let width = window.outerWidth;
    }
    function changeMethod() {
        let methodValue = document.getElementById('method').value;
        if(methodValue === '0'){
            document.getElementById('STATUS').style.display = '';
            document.getElementById('RESPONSE').style.display = '';
            document.getElementById('ISRESPONSE').style.display = '';
            document.getElementById('FIELD').style.display = 'none';
        }
        if(methodValue !== '0'){
            document.getElementById('STATUS').style.display = 'none';
            document.getElementById('RESPONSE').style.display = 'none';
            document.getElementById('ISRESPONSE').style.display = 'none';
            document.getElementById('FIELD').style.display = '';
        }
    }
    $("#Reload").click(function () {
        $.ajax ({
            type: 'get',
            url: '{% url 'mitm:reload' %}',
            datatype: 'json',
            success: function(data) {
                if(data['code'] === 1) {
                    console.error(data['msg']);
                    $.Toast(data['msg'], 'error');
                } else {
                    $.Toast(data['msg'], 'success');
                }
            }
        })
    });
    $("#Add").click(function () {
        let modal = document.getElementsByClassName('myModal')[0];
        let close_a = document.getElementsByClassName("close")[0];
        let cancel_a = document.getElementsByClassName("cancel")[0];
        let submit_a = document.getElementsByClassName("submit")[0];

        modal.style.display = "block";

        close_a.onclick = function() {
            clear_input();
            modal.style.display = "none";
        }
        cancel_a.onclick = function() {
            clear_input();
            modal.style.display = "none";
        }
        submit_a.onclick = function() {
            let name = document.getElementById('name').value;
            let domain_name = document.getElementById('domain_name').value;
            let url_path = document.getElementById('url_path').value;
            let status_code = document.getElementById('status_code').value;
            let response = document.getElementById('response').value;
            let is_file = document.getElementById('is_file').value;
            let is_re = document.getElementById('is_re').value;
            let method = document.getElementById('method').value;
            let fields = document.getElementById('fields').value;
            let postdata = {
                name: name,
                domain_name: domain_name,
                url_path: url_path,
                status_code: status_code,
                response: response,
                is_file: is_file,
                is_re: is_re,
                method: method,
                fields: fields,
            };
            $.ajax({
                type: 'post',
                url: "{% url 'mitm:save' %}",
                data: postdata,
                datatype: 'json',
                success: function (data) {
                    if(data['code'] === 1) {
                        console.error(data['msg']);
                        $.Toast(data['msg'], 'error');
                    } else {
                        $.Toast(data['msg'], 'success');
                        window.location.href="";
                    }
                },
            });
        }
    });

    function set_is_run(Id, isRun){
        let post_data = {
            Id: Id,
            isRun: isRun,
        }
        $.ajax({
            type: 'post',
            url: '{% url 'mitm:is_run' %}',
            data: post_data,
            datatype: 'json',
            success: function(data){
                if(data['code'] === 1) {
                    console.error(data['msg']);
                    $.Toast(data['msg'], 'error');
                } else {
                    $.Toast(data['msg'], 'success');
                    window.location.href="";
                }
            }
        })
    }
    function openResult(del_url){
        let r = confirm("Dear, are you sure to delete it?")
        if (r === true) {
            $.ajax({
                type: 'get',
                url: del_url,
                datatype: 'json',
                success: function (data) {
                    if (data['code'] === 1) {
                        console.error(data['msg']);
                        $.Toast(data['msg'], 'error');
                    } else {
                        $.Toast(data['msg'], 'success');
                        window.location.href="";
                    }
                }
            })
        } else {}
    }
    function edit(edit_url){
        $.ajax({
            type: 'get',
            url: edit_url,
            datatype: 'json',
            success: function (data) {
                if (data['code'] === 1) {
                    console.error(data['msg']);
                    $.Toast(data['msg'], 'error');
                } else {
                    $.Toast(data['msg'], 'success');
                    console.log(data['data']);
                    let modal = document.getElementsByClassName('myModal')[0];
                    let close_a = document.getElementsByClassName("close")[0];
                    let cancel_a = document.getElementsByClassName("cancel")[0];
                    let submit_a = document.getElementsByClassName("submit")[0];

                    modal.style.display = "block";

                    close_a.onclick = function() {
                        clear_input();
                        modal.style.display = "none";
                    }
                    cancel_a.onclick = function() {
                        clear_input();
                        modal.style.display = "none";
                    }
                    {#document.getElementById('ID_label').style.display = '';#}
                    document.getElementById('ID1').style.display = '';
                    document.getElementById('ID').value = data['data']['pk'];
                    document.getElementById('name').value = data['data']['fields']['name'];
                    document.getElementById('domain_name').value = data['data']['fields']['domain'];
                    document.getElementById('url_path').value = data['data']['fields']['url_path'];
                    if(data['data']['fields']['is_regular'] === 0){
                        document.getElementById('is_re').options[0].selected = true;
                        document.getElementById('is_re').options[1].selected = false;
                    } else {
                        document.getElementById('is_re').options[1].selected = true;
                        document.getElementById('is_re').options[0].selected = false;
                    }

                    if(data['data']['fields']['method'] === 0){
                        document.getElementById('method').options[0].selected = true;
                        document.getElementById('method').options[1].selected = false;
                        // document.getElementById('method').options[2].selected = false;
                        // document.getElementById('method').options[3].selected = false;
                        document.getElementById('STATUS').style.display = '';
                        document.getElementById('RESPONSE').style.display = '';
                        document.getElementById('ISRESPONSE').style.display = '';
                        document.getElementById('FIELD').style.display = 'none';

                        document.getElementById('status_code').value = data['data']['fields']['status_code'];
                        document.getElementById('response').value = data['data']['fields']['response'];

                        if(data['data']['fields']['is_file'] === 0){
                            document.getElementById('is_file').options[0].selected = true;
                            document.getElementById('is_file').options[1].selected = false;
                        } else {
                            document.getElementById('is_file').options[1].selected = true;
                            document.getElementById('is_file').options[0].selected = false;
                        }
                    } else {
                        document.getElementById('method').options[0].selected = false;
                        document.getElementById('method').options[1].selected = true;
                        /***if(data['data'][8] === 1) {
                            document.getElementById('method').options[1].selected = true;
                            document.getElementById('method').options[2].selected = false;
                            document.getElementById('method').options[3].selected = false;
                        }
                        if(data['data'][8] === 2) {
                            document.getElementById('method').options[2].selected = true;
                            document.getElementById('method').options[1].selected = false;
                            document.getElementById('method').options[3].selected = false;
                        }
                        if(data['data'][8] === 3) {
                            document.getElementById('method').options[3].selected = true;
                            document.getElementById('method').options[1].selected = false;
                            document.getElementById('method').options[2].selected = false;
                        }***/

                        document.getElementById('STATUS').style.display = 'none';
                        document.getElementById('RESPONSE').style.display = 'none';
                        document.getElementById('ISRESPONSE').style.display = 'none';
                        document.getElementById('FIELD').style.display = '';
                        document.getElementById('fields').value = data['data']['fields']['response'];
                    }
                    submit_a.onclick = function() {
                        let ID = document.getElementById('ID').value;
                        let name = document.getElementById('name').value;
                        let domain_name = document.getElementById('domain_name').value;
                        let url_path = document.getElementById('url_path').value;
                        let status_code = document.getElementById('status_code').value;
                        let response = document.getElementById('response').value;
                        let is_file = document.getElementById('is_file').value;
                        let is_re = document.getElementById('is_re').value;
                        let method = document.getElementById('method').value;
                        let fields = document.getElementById('fields').value;
                        let postdata = {
                            ID: ID,
                            name: name,
                            domain_name: domain_name,
                            url_path: url_path,
                            status_code: status_code,
                            response: response,
                            is_file: is_file,
                            is_re: is_re,
                            method: method,
                            fields: fields,
                        };
                        $.ajax({
                            type: 'post',
                            url: '{% url 'mitm:update' %}',
                            data: postdata,
                            datatype: 'json',
                            success: function (data) {
                                if(data['code'] === 1) {
                                    console.error(data['msg']);
                                    $.Toast(data['msg'], 'error');
                                } else {
                                    $.Toast(data['msg'], 'success');
                                    window.location.href="";
                                }
                            },
                        });
                    }
                }
            }
        })
    }

    function clear_input() {
        document.getElementById('ID').value = "";
        document.getElementById('name').value = "";
        document.getElementById('domain_name').value = "";
        document.getElementById('url_path').value = "";
        document.getElementById('status_code').value = "";
        document.getElementById('response').value = "";
        document.getElementById('fields').value = "";
        document.getElementById('ID1').style.display = 'none';
    }
</script>
{% endblock %}