{% extends 'template.html' %}
{% load static %}

{% block addcss %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'mitm/css/home.css' %}" rel="stylesheet">
{% endblock %}


{% block addbody %}
    <div style="width: 100%; background-color: burlywood; height: 30px;">
        <div style="float: left; margin-left: 1%; margin-top: 2px; margin-right: 33%;">
            <a href="{% url 'home' %}" style="font-size: larger; text-decoration: none;">Home</a>
            <span style="font-size: larger;">>></span>
            <a href="{% url 'mitm:home' %}" style="font-size: larger; text-decoration: none;">MitmProxy</a>
        </div>
        <span style="font-size: large;">MitmProxy Rule List</span>
        <a href="{% url 'user:logout' %}" style="font-size: larger; text-decoration: none; float: right; margin-right: 1%; margin-top: 2px;">Logout</a>
    </div>
    {% block content %}
        <div class="container" style="width: 93%; margin-left: 3%;">
            {% block page_content %}
            {% endblock %}
        </div>
        <div class="container" style="width: 50%;">
            {% block edit_content %}
            {% endblock %}
        </div>
        <div class="container" style="width: 63%;">
            {% block page_content1 %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block myjs %}
    {% endblock %}
{% endblock %}
