{% extends 'performance/home.html' %}
{% load static %}

{% block add_js %}
    <script src="{% static 'performance/js/plan.js' %}"></script>
{% endblock %}

{% block navigate %}
    <a href="{% url 'perf:plan_home' %}">Test Plan</a>
    <span>>></span>
    <a href="{% url 'perf:plan_variable' %}?id={{ plan_id }}">Variables</a>
    <span>>></span>
    <span>Add Variable</span>
{% endblock %}

{% block detail %}
    <div class="list-body">
        <div class="row-cols">
            <div class="label-div">
                <label>Name:</label>
            </div>
            <div class="value-div">
                <input type="text" id="name" placeholder="Please input name ~">
            </div>
        </div>
        <div class="row-cols">
            <div class="label-div">
                <label>Value:</label>
            </div>
            <div class="value-div">
                <input type="text" id="value" placeholder="Please input value ~">
            </div>
        </div>
        <div class="row-cols">
            <div class="label-div">
                <label>Comment:</label>
            </div>
            <div class="value-div">
                <input type="text" id="comment" placeholder="Please input test plan comment ~">
            </div>
        </div>
    </div>
    <div class="list-footer">
        <div>
            <a href="{% url 'perf:plan_variable' %}?id={{ plan_id }}">Cancel</a>
            <a href="#" onclick="save_var('{% url 'perf:plan_add_variable' %}', '{% url 'perf:plan_variable' %}', {{ plan_id }})">Submit</a>
        </div>
    </div>
{% endblock %}

