{% extends 'template.html' %}
{% load static compress %}
{% block addcss %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/login.css' %}">
    {% endcompress %}
{% endblock %}
{% block addbody %}
<div class="wrap" id="wrap">
	<div class="logGet">
        <div class="lgT"><p class="p2">My Platform</p></div>
        <div class="logD logDtip"><p class="p1">Login</p></div>
        <div class="lgD">
            <img src="{% static 'img/login_user.png' %}" width="20" height="20" alt=""/>
            <input type="text" placeholder="Please input username ~" id="username">
        </div>
        <div class="lgD">
            <img src="{% static 'img/login_lock.png' %}" width="20" height="20" alt=""/>
            <input type="password" placeholder="Please input password ~" id="password">
        </div>
        <div class="logC">
            <a id="login_b" target="_self"><button>Login</button></a>
        </div>
        <div class="logT">
            <a onclick="window.alert('Congratulations to you forgot password (^_^)');">ForgotPassword</a>
            <a href="{% url 'user:change_pwd' %}">ChangePassword</a>
        </div>
        <input type="text" id="location" value="{% url 'home' %}" style="display: none;">
    </div>
</div>
{% endblock %}
{% block backjs %}
    {% compress js %}
    <script src="{% static 'user/js/login.js' %}"></script>
    {% endcompress %}
{% endblock %}
