{% extends 'template.html' %}
{% load static compress %}
{% block addcss %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/login.css' %}">
    {% endcompress %}
{% endblock %}
{% block addbody %}
<div class="wrap" id="wrap">
	<div class="logGet">
        <div class="lgT"><p class="p2">My Platform</p></div>
        <div class="logD logDtip"><p class="p1">Change Password</p></div>
        <div class="lgD"><img src="{% static 'img/login_user.png' %}" width="20" height="20" alt=""/>
            <input type="text" placeholder="Please input username ~" id="username"></div>
        <div class="lgD"><img src="{% static 'img/login_lock.png' %}" width="20" height="20" alt=""/>
            <input type="password" placeholder="Please input old password ~" id="password"></div>
        <div class="lgD"><img src="{% static 'img/login_lock.png' %}" width="20" height="20" alt=""/>
            <input type="password" placeholder="Please input new password ~" id="password1"></div>
        <div class="lgD"><img src="{% static 'img/login_lock.png' %}" width="20" height="20" alt=""/>
            <input type="password" placeholder="Please input new password again ~" id="password2"></div>
        <div class="logC"><a id="submit_b" target="_self"><button>Submit</button></a></div>
        <div class="logT"><a href="{% url 'user:login' %}">Login</a></div>
    </div>
</div>
{% endblock %}
{% block backjs %}
    {% compress js %}
    <script src="{% static 'user/js/change_pwd.js' %}"></script>
    {% endcompress %}
{% endblock %}
