{% extends 'performance/home.html' %}
{% load static %}
{% load myFilter %}

{% block add_js %}
    <script src="{% static 'performance/js/plan.js' %}"></script>
{% endblock %}

{% block navigate %}
    <a href="{% url 'perf:plan_home' %}">Test Plan</a>
{% endblock %}

{% block detail_action %}
{% endblock %}
{% block searchBlock %}
{% endblock %}
{% block table_head %}
    <tr class="table_style">
        <th width="15%">Plan Name</th>
        <th width="10%">Server Room</th>
        <th width="9%">Status</th>
        <th width="9%"># Samples</th>
        <th width="10%">Average(RT)</th>
        <th width="8%">TPS(/s)</th>
        <th width="8%">Error(%)</th>
        <th width="9%">Operator</th>
        <th width="22%">Actions</th>
    </tr>
{% endblock %}

{% block table_body %}
    {% for task in tasks %}
        <tr>
            <td title="{{ task.plan.comment }}"><a href="{% url 'perf:plan_home' %}?keyWord={{ task.plan.name }}">{{ task.plan.name }}</a></td>
            <td>{{ task.server_room.name }}</td>
            <td style="text-align: center;"><div class="round" style="background-color: {{ task.status | get_value_from_list:'task_color' }};"></div>{{ task.status | get_value_from_list:'task_status' }}</td>
            <td style="text-align: center;">{{ task.samples }}</td>
            <td style="text-align: center;">{{ task.average_rt }}</td>
            <td style="text-align: center;">{{ task.tps }}</td>
            <td style="text-align: center;">{{ task.error }} %</td>
            <td style="text-align: center;">{{ task.operator }}</td>
            <td>
                {% if task.status == 0 %}
                    <a href="#" onclick="start_task('{% url 'perf:task_start' %}', {{ task.id }}, '{% url 'perf:task_status' %}', '{% url 'perf:task_detail' %}')">Start</a>
                {% else %}
                    <a href="{% url 'perf:task_detail' %}?id={{ task.id }}">View</a>
                    {% if task.status == 1 %}
                        <a href="#" onclick="stop_task('{% url 'perf:task_stop' %}?id={{ task.id }}')">Stop</a>
                    {% endif %}
                {% endif %}
                <a href="#" onclick="Delete('{% url 'perf:delete' %}', '{% url 'perf:task_home' %}?id={{ task.plan.id }}', 'task', {{ task.id }})">Delete</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block define_js %}
    <script type="text/javascript">
    </script>
{% endblock %}
