{% load static compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Server Monitoring</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'monitor/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
        {% compress css %}
        <link href="{% static 'monitor/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'monitor/css/toast.style.css' %}" rel="stylesheet">
        {% endcompress %}
        {% block scripts %}
        {% compress js %}
        <script src="{% static 'monitor/js/jquery.js' %}"></script>
        <script src="{% static 'monitor/js/bootstrap.js' %}"></script>
        <script src="{% static 'monitor/js/toast.script.js' %}"></script>
        {% endcompress %}
        {% endblock %}
        {% block addcss %}
        {% endblock %}
        {% block addjs %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block navbar %}
                <div class="navbar navbar-inverse" role="navigation" style="min-height: 30px; height: 40px; margin-bottom: 15px;">
                    <div style="float: left; margin-top: 8px; font-size: large; margin-right: 11%; margin-left: 1%;"><a href="{% url 'home' %}" style="color:aliceblue; text-decoration: none;">Home</a>
                        <span style="color:aliceblue;">>></span><a href="{% url 'monitor:home' %}" style="color:aliceblue; text-decoration: none;">Monitor</a></div>
                    {% if is_staff %}
                        <div class="container" style="float: left; margin-right: 20px; width: 200px;">
                            <div class="navbar-header">
                                <a class="navbar-brand" style="padding: 10px;" href="{% url 'monitor:home' %}">Home</a>
                            </div>
                            <div class="navbar-left">
                                <a class="navbar-brand" style="padding: 10px;" href="{% url 'monitor:visualize' %}">Visualize</a>
                            </div></div>
                    {% endif %}
                </div>
            {% endblock %}
            {% block content %}
                <div class="container" style="width: 90%;">
                    {% block page_content %}
                    {% endblock %}
                </div>
            {% endblock %}
            {% block myjs %}
            {% endblock %}
        {% endblock %}
    </body>
</html>
