{% load static compress %}
{% load myFilter %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Nginx Flow</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'monitor/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
        {% compress css %}
        <link href="{% static 'monitor/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'monitor/css/toast.style.css' %}" rel="stylesheet">
        <link href="{% static 'monitor/css/visualize.css' %}" rel="stylesheet">
        {% endcompress %}
        {% compress js %}
        <script src="{% static 'monitor/js/jquery.js' %}"></script>
        <script src="{% static 'monitor/js/bootstrap.js' %}"></script>
        <script src="{% static 'monitor/js/toast.script.js' %}"></script>
        <script src="{% static 'monitor/js/echarts.common.js' %}"></script>
        {% endcompress %}
    </head>

    <body>
        <div class="navbar navbar-inverse" role="navigation" style="min-height: 30px; height: 38px; margin-bottom: 15px;">
            <div style="float: left; margin-top: 6px; font-size: large; margin-right: 11%; margin-left: 1%;"><a href="{% url 'home' %}" style="color:aliceblue; text-decoration: none;">Home</a>
                <span style="color:aliceblue;">>></span><a href="{% url 'monitor:nginx_home' %}" style="color:aliceblue; text-decoration: none;">Nginx</a></div>
            <div class="container" style="float: left; margin-right: 20px; width: 400px;"><div class="navbar-header"><span class="navbar-brand" style="padding: 8px; color: white;">Group: </span></div>
                <div class="navbar-left"><select id="group" style="margin-left: 0; height: 32px; width: 300px; margin-top: 2px;">
                        <option value=""></option>
                        {% for foo in groups %}
                            {% if foo.id == spec_group %}
                                <option value="{{ groupKey | get_dict:foo.id }}" selected>{{ foo.name }}</option>
                            {% else %}
                                <option value="{{ groupKey | get_dict:foo.id }}">{{ foo.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select></div></div></div>
        <div style="width: 96%; margin-left: 3%;">
            Source: <select id="source" style="width: 140px; height: 26px; margin-right: 20px;">
                        <option value="Normal" selected>Normal Data</option>
                        <option value="PerformanceTest">Performance Test</option>
            </select>
            Sort Type: <select id="sort-type" style="width: 69px; height: 26px; margin-right: 20px;">
                        <option value="qps" selected>QPS</option>
                        <option value="rt">Time</option>
                        <option value="size">Size</option>
                        <option value="error">Error</option>
            </select>
            Total Number: <select id="total-number" style="width: 69px; height: 26px; margin-right: 20px;">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="9999">ALL</option>
            </select>
            Time Period: <select id="time-period" style="width: 116px; height: 26px; margin-right: 20px;">
                    <option value="600">Last 10 min</option>
                    <option value="1800">Last 30 min</option>
                    <option value="3600">Last 1 hour</option>
                    <option value="7200">Last 2 hour</option>
                    <option value="21600">Last 6 hour</option>
                    <option value="86400">Last 1 day</option>
                    <option value="0">Other time</option>
            </select>
            <input type="text" name="starttime" id="starttime" style="width: 147px; display: none;"> <span id="h-line" style="display: none;"> - </span>
            <input type="text" name="{% url 'monitor:nginx_detail' %}" id="endtime" style="margin-right: 20px; width: 147px; display: none;">
            Search: <input type="text" id="path-name" name="{% url 'monitor:nginx_summary' %}" style="margin-right: 20px; width: 250px;" placeholder="Search by path name">
            <button type="button" id="SearchList" style="width: 6%;">&nbsp;Search&nbsp;</button>
        </div>
        <div class="figure-region" style="width: 99%; margin-left: 0;"></div>
        <div class="myModal"><div class="modal-content" style="width: 80%;">
                <div class="modal-header"><span id="path-title"></span><span class="close">&times;</span></div>
                <div class="modal-body"><div id="preview" style="width: 100%; height: 620px;"></div></div></div></div>
        <br>
        <input id="start-time" type="text" value="" style="display: none;">
        <div class="modal_cover"><div class="modal_gif"></div></div>
        {% compress js %}
        <script src="{% static 'monitor/js/nginx.js' %}"></script>
        {% endcompress %}
    </body>
</html>
