{% extends 'perf_home.html' %}
{% load static compress %}
{% block add_js %}
    {% compress js %}
    <script src="{% static 'performance/js/controller.js' %}"></script>
    {% endcompress %}
{% endblock %}
{% block navigate %}
    {% if group_id %}
        <a href="{% url 'perf:controller_home' %}?id={{ group_id }}">Controller</a>
    {% else %}
        <a href="{% url 'perf:controller_home' %}">Controller</a>
    {% endif %}
    <span>>></span><span>Add Controller</span>
{% endblock %}

{% block detail %}
    <div class="list-body"><div class="row-cols">
            <div class="label-div"><label>Thread Group ID: </label></div>
            <div class="value-div"><select id="groupid">
                    {% for foo in groups %}
                        {% if foo.id == group_id %}
                            <option value="{{ foo.id }}" selected>{{ foo.name }}</option>
                        {% else %}
                            <option value="{{ foo.id }}">{{ foo.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select></div></div>
        <div class="row-cols"><div class="label-div"><label>Name:</label></div>
            <div class="value-div"><input type="text" id="name" placeholder="Please input name ~"></div></div>
        <div class="row-cols"><div class="label-div"><label>Comment:</label></div>
            <div class="value-div"><input type="text" id="comment" placeholder="Please input controller comment ~"></div></div></div>
    <div class="list-footer"><div>
            {% if group_id %}
                <a href="{% url 'perf:controller_home' %}?id={{ group_id }}">Cancel</a>
                <a href="#" onclick="save_controller('{% url 'perf:controller_add' %}', '{% url 'perf:controller_home' %}', {{ group_id }})">Submit</a>
            {% else %}
                <a href="{% url 'perf:controller_home' %}">Cancel</a>
                <a href="#" onclick="save_controller('{% url 'perf:controller_add' %}', '{% url 'perf:controller_home' %}', '')">Submit</a>
            {% endif %}
        </div></div>
{% endblock %}
