*{
	margin: 0;
	padding: 0;
}
body{
    width: 100%;
    height: 100%;
}

.container1 {
	top: 0;
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 30px;
	background-color: #5bc0de;
}

.float_right {
	float: right;
	width: 320px;
	text-align: right;
	margin-top: 6px;
}
.container1 a {
	cursor: pointer;
	margin-right: 20px;
	margin-left: 10px;
	text-decoration: none;
	color: blue;
}
.container1 img {
	margin-top: 4px;
	float: left;
	margin-left: 1%;
	height: 20px;
}

.container2 {
	height: 100%;
}

.container2 .detail {
	position: absolute;
	width: 98%;
	top: 50px;
	background-color: #ffffff;
}