{% extends 'performance/home.html' %}
{% load static %}

{% block add_js %}
    <script src="{% static 'performance/js/group.js' %}"></script>
{% endblock %}

{% block navigate %}
    {% if plan_id %}
        <a href="{% url 'perf:group_home' %}?id={{ plan_id }}">Thread Group</a>
    {% else %}
        <a href="{% url 'perf:group_home' %}">Thread Group</a>
    {% endif %}
    <span>>></span>
    <span>Add Thread Group</span>
{% endblock %}

{% block detail %}
    <div class="list-body">
        <div class="row-cols">
            <div class="label-div">
                <label>Plan ID: </label>
            </div>
            <div class="value-div">
                <select id="planid">
                    {% for foo in plans %}
                        {% if foo.id == plan_id %}
                            <option value="{{ foo.id }}" selected>{{ foo.name }}</option>
                        {% else %}
                            <option value="{{ foo.id }}">{{ foo.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row-cols">
            <div class="label-div">
                <label>Name:</label>
            </div>
            <div class="value-div">
                <input type="text" id="name" placeholder="Please input name ~">
            </div>
        </div>
        <div class="row-cols">
            <div class="label-div">
                <div class="helpstyle"><span data-tooltip="Number of Threads (users). This is a reference, and can not modify. When running test task, it will be set.">?</span></div>
                <label>Num Threads:</label>
            </div>
            <div class="value-div">
                <input type="text" id="num_threads" value="${num_threads}" readonly disabled>
            </div>
        </div>
        <div class="row-cols">
            <div class="label-div">
                <div class="helpstyle"><span data-tooltip="Ramp-up period (seconds).">?</span></div>
                <label>Ramp Time:</label>
            </div>
            <div class="value-div">
                <input type="text" id="ramp_time" placeholder="Please input ramp time ~" value="1">
            </div>
        </div>
        <div class="row-cols">
            <div class="label-div">
                <div class="helpstyle"><span data-tooltip="Scheduler default is 'true', can not modify. It specifies Thread lifetime. true: need to set duration; false: thread groups run forever.">?</span></div>
                <label>Scheduler: </label>
            </div>
            <div class="value-div">
                <input type="text" id="scheduler" value="true" readonly disabled>
            </div>
        </div>
        <div class="row-cols">
            <div class="label-div">
                <div class="helpstyle"><span data-tooltip="Duration (seconds).">?</span></div>
                <label>Duration:</label>
            </div>
            <div class="value-div">
                <input type="text" id="duration" placeholder="Please input duration ~" value="600">
            </div>
        </div>
        <div class="row-cols">
            <div class="label-div">
                <div class="helpstyle"><span data-tooltip="CSV Data Set Config, that stores variables used during running.">?</span></div>
                <label>CSVDataSet:</label>
            </div>
            <div class="value-div">
                <button onclick="upload_file('{% url 'perf:group_upload_file' %}');" style="width: 12%;">Upload File</button>
                <button id="download_file" onclick="download_file('{% static 'files/' %}')" style="width: 12%; display: none;">Download File</button>
                <input type="file" id="fileUpload-input" style="display: none;">
                <input type="text" id="file_path" value="" readonly style="width: 30%; margin-left: 2%; border: none; background-color: white;" disabled>
            </div>
            <div class="small-div" style="display:none;">
                <div class="label">
                    <div class="helpstyle"><span data-tooltip="Variable Names (comma-delimited). Each variable corresponds to each column in the CSV file.">?</span></div>
                    <label>Variable Names:</label>
                </div>
                <input type="text" id="variable_names" placeholder="Please input variable names, split by ',' ~">
            </div>
            <div class="small-div" style="display:none;">
                <div class="label">
                    <div class="helpstyle"><span data-tooltip="Delimiter (use '\t' for tab)">?</span></div>
                    <label>Delimiter:</label>
                </div>
                <input type="text" id="delimiter" placeholder="Please input delimiter ~" value=",">
            </div>
            <div class="small-div" style="display:none;">
                <div class="label">
                    <div class="helpstyle"><span data-tooltip="Recycle on EOF ? True: recycle when EOF. False: stop when EOF.">?</span></div>
                    <label>Recycle:</label>
                </div>
                <select id="recycle">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
            <div class="small-div" style="display:none;">
                <div class="label">
                    <div class="helpstyle"><span data-tooltip="Threads Sharing mode">?</span></div>
                    <label>Share Mode:</label>
                </div>
                <select id="share_mode">
                    {% for k, v in share_mode.items %}
                        <option value="{{ v }}">{{ k}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row-cols">
            <div class="label-div">
                <label>Comment:</label>
            </div>
            <div class="value-div">
                <input type="text" id="comment" placeholder="Please input thread group comment ~">
            </div>
        </div>
    </div>
    <div class="list-footer">
        <div>
            {% if plan_id %}
                <a href="{% url 'perf:group_home' %}?id={{ plan_id }}">Cancel</a>
                <a href="#" onclick="save_group('{% url 'perf:group_add' %}', '{% url 'perf:group_home' %}', {{ plan_id }})">Submit</a>
            {% else %}
                <a href="{% url 'perf:group_home' %}">Cancel</a>
                <a href="#" onclick="save_group('{% url 'perf:group_add' %}', '{% url 'perf:group_home' %}', '')">Submit</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block define_js %}
    <script type="text/javascript">
    </script>
{% endblock %}
