{% extends 'perf_home.html' %}
{% load static compress %}
{% block add_js %}
    {% compress js %}
    <script src="{% static 'performance/js/header.js' %}"></script>
    {% endcompress %}
{% endblock %}
{% block navigate %}
    <a href="{% url 'perf:header_home' %}">HTTP Header</a>
{% endblock %}
{% block detail_action %}
    <a href="{% url 'perf:header_add' %}">Add HTTP Header</a>
{% endblock %}
{% block searchBlock %}
    <div class="search">
        {% if key_word %}
            <input type="text" id="searching" placeholder="Please input key words ~" value="{{ key_word }}">
        {% else %}
            <input type="text" id="searching" placeholder="Please input key words ~">
        {% endif %}
        <button onclick="search('{% url 'perf:header_home' %}')">Search</button>
    </div>
{% endblock %}
{% block table_head %}
    <tr class="table_style">
        <th width="11%">ID</th>
        <th width="11%">Name</th>
        <th width="10%">Method</th>
        <th width="19%">Comment</th>
        <th width="13%">Create Time</th>
        <th width="13%">Update Time</th>
        <th width="10%">Operator</th>
        <th width="23%">Actions</th>
    </tr>
{% endblock %}
{% block table_body %}
    {% for header in headers %}
            <tr>
            <td><a href="{% url 'perf:header_edit' %}?id={{ header.id }}">{{ header.id }}</a></td>
            <td title="{{ header.name }}"><a href="{% url 'perf:header_edit' %}?id={{ header.id }}">{{ header.name }}</a></td>
            <td style="text-align: center;">{{ header.method }}</td>
            <td title="{{ header.comment }}">{{ header.comment }}</td>
            <td style="text-align: center;">{{ header.create_time | date:"Y-m-d H:i:s" }}</td>
            <td style="text-align: center;">{{ header.update_time | date:"Y-m-d H:i:s" }}</td>
            <td style="text-align: center;">{{ header.operator }}</td>
            <td>
                <!--a href="{% url 'perf:header_edit' %}?id={{ header.id }}">Edit</a-->
                <a href="{% url 'perf:header_copy' %}?id={{ header.id }}">Copy</a>
                <a title="View HTTP Samples that use this HTTP request header" href="{% url 'perf:sample_header_home' %}?id={{ header.id }}">HttpSample</a>
                <a href="#" onclick="Delete('{% url 'perf:delete' %}', '{% url 'perf:header_home' %}', 'header', {{ header.id }})">Delete</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block define_js %}
    <script type="text/javascript">
        {% if key_word %}
            PagingManage($('#paging'), {{ total_page }}, {{ page }}, '{% url 'perf:header_home' %}?keyWord={{ key_word }}&page=');
        {% else %}
            PagingManage($('#paging'), {{ total_page }}, {{ page }}, '{% url 'perf:header_home' %}?page=');
        {% endif %}
    </script>
{% endblock %}
