{% load static compress %}
<!doctype html>
<html lang="en">
<head>
    {% block title %}
        <title>MyPlatform</title>
    {% endblock %}
    <meta charset="utf-8">
    <link rel="shutcut icon" type="image/png" sizes="96x96" href="{% static 'img/favicon.ico' %}">
    {% compress js %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/toast.script.js' %}"></script>
    {% endcompress %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/toast.style.css' %}">
    {% endcompress %}
    {% block addcss %}{% endblock %}
    {% block addjs %}{% endblock %}
</head>
<body>
{% block addbody %}{% endblock %}
</body>
{% block backjs %}{% endblock %}
{% block define_js %}{% endblock %}
</html>
