{% extends 'perf_home.html' %}
{% load static compress %}
{% block add_js %}
    {% compress js %}
    <script src="{% static 'performance/js/group.js' %}"></script>
    {% endcompress %}
{% endblock %}
{% block navigate %}
    {% if plan_id %}
        <a href="{% url 'perf:group_home' %}?id={{ plan_id }}">Thread Group</a>
    {% else %}
        <a href="{% url 'perf:group_home' %}">Thread Group</a>
    {% endif %}
{% endblock %}
{% block detail_action %}
    {% if plan_id %}
        <a href="{% url 'perf:group_add' %}?id={{ plan_id }}">Add Thread Group</a>
    {% else %}
        <a href="{% url 'perf:group_add' %}">Add Thread Group</a>
    {% endif %}
{% endblock %}
{% block searchBlock %}
    <div class="search">
        {% if key_word %}
            <input type="text" id="searching" placeholder="Please input key words ~" value="{{ key_word }}">
        {% else %}
            <input type="text" id="searching" placeholder="Please input key words ~">
        {% endif %}
        {% if plan_id %}
            <button onclick="search('{% url 'perf:group_home' %}?id={{ plan_id }}')">Search</button>
        {% else %}
            <button onclick="search('{% url 'perf:group_home' %}')">Search</button>
        {% endif %}
    </div>
{% endblock %}
{% block table_head %}
    <tr class="table_style">
        <th width="10%">Plan Name</th>
        <th width="10%">Name</th>
        <th width="17%">Comment</th>
        <th width="12%">Create Time</th>
        <th width="12%">Update Time</th>
        <th width="9%">Operator</th>
        <th width="30%">Actions</th>
    </tr>
{% endblock %}
{% block table_body %}
    {% for group in groups %}
        {% if group.is_valid == 'false' %}
            <tr style="background-color: white">
        {% else %}
            <tr>
        {% endif %}
            <td title="{{ group.plan.name }}"><a href="{% url 'perf:plan_home' %}?keyWord={{ group.plan.name }}">{{ group.plan.name }}</a></td>
            <td style="text-align: center;" title="{{ group.name }}"><a href="{% url 'perf:group_home' %}?id={{ group.plan.id }}">{{ group.name }}</a></td>
            <td title="{{ group.comment }}">{{ group.comment }}</td>
            <td style="text-align: center;">{{ group.create_time | date:"Y-m-d H:i:s" }}</td>
            <td style="text-align: center;">{{ group.update_time | date:"Y-m-d H:i:s" }}</td>
            <td style="text-align: center;">{{ group.operator }}</td>
            <td>
                {% if group.is_valid == 'true' %}
                    <a href="{% url 'perf:group_edit' %}?id={{ group.id }}">Edit</a>
                    <a href="#" onclick="set_status('group', '{{ group.id }}', 'false', '{% url 'perf:set_status' %}')">Disabled</a>
                    <a href="{% url 'perf:group_copy' %}?id={{ group.id }}&plan_id={{ group.plan.id }}">Copy</a>
                    <a title="Set cookies of the ThreadGroup, It is optional" href="{% url 'perf:group_cookie' %}?id={{ group.id }}">Cookies</a>
                    <a title="View Controllers of the ThreadGroup" href="{% url 'perf:controller_home' %}?id={{ group.id }}">Controller</a>
                {% else %}
                    <a href="#" onclick="set_status('group', '{{ group.id }}', 'true', '{% url 'perf:set_status' %}')">Enabled</a>
                {% endif %}
                {% if plan_id %}
                    <a href="#" onclick="Delete('{% url 'perf:delete' %}', '{% url 'perf:group_home' %}?id={{ plan_id }}', 'group', {{ group.id }})">Delete</a>
                {% else %}
                    <a href="#" onclick="Delete('{% url 'perf:delete' %}', '{% url 'perf:group_home' %}', 'group', {{ group.id }})">Delete</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block define_js %}
    <script type="text/javascript">
        let url = '{% url 'perf:group_home' %}?';
        {% if key_word %}
            url += 'keyWord={{ key_word }}&';
        {% endif %}
        {% if plan_id %}
            url += 'id={{ plan_id }}&';
        {% endif %}
        PagingManage($('#paging'), {{ total_page }}, {{ page }}, url + 'page=');
    </script>
{% endblock %}
