{% extends 'shell/home.html' %}
{% load static %}

{% block addjs %}
    <script src="{% static 'shell/js/index.js' %}"></script>
{% endblock %}

{% block container2 %}
    <div id="filter">
        <div style="width: 30%">
            <button onclick="create_group()">Create Group</button>
            {% if is_staff %}
                <button onclick="add_user()">Add User</button>
            {% endif %}
            <button onclick="add_server()">Add Server</button>
        </div>
        <div style="width: 60%;">
            <label>Group: </label>
            <input id="groupName" type="text" placeholder="Please Input Group Name ~">
            <label>Server: </label>
            <input id="serverName" type="text" placeholder="Please Input Server Name or Server IP ~">
            <button onclick="search_server()">Search</button>
        </div>
    </div>
    <table id="layout-table" border="1" cellspacing="0" cellpadding="6">
        <thead>
            <tr class="table_style">
                <th width=10%>GroupName</th>
                <th width=12%>ServerName</th>
                <th width=10%>IP</th>
                <th width=5%>User</th>
                <th width=10%>System</th>
                <th width=4%>CPU(core)</th>
                <th width=5%>Memory</th>
                <th width=5%>Disk</th>
                <th width=20%>Action</th>
            </tr>
        </thead>
        <tbody id="tbody">
            {% for host in servers %}
                <tr>
                    <td>{{ host.group.name }}</td>
                    <td>{{ host.name }}</td>
                    <td style="text-align: center;">{{ host.host }}</td>
                    <td style="text-align: center;">{{ host.user }}</td>
                    <td>{{ host.system }}</td>
                    <td style="text-align: center;">{{ host.cpu }}</td>
                    <td style="text-align: center;">{{ host.mem }}G</td>
                    <td style="text-align: center;">{{ host.disk }}</td>
                    <td>
                        <a target="_blank" href="{% url 'shell:open_shell' %}?ip={{ host.host }}">OpenShell</a>
                        {% if isMonitor == 1 %}
                            {% if host.is_monitor == 0 %}
                                <a onclick="deploy('{{ host.host }}')">DeployMonitor</a>
                            {% else %}
                                <a target="_blank" href="{% url 'monitor:visualize' %}?host={{ host.host }}">ViewMonitor</a>
                                <a onclick="stop_mon('{{ host.host }}')">StopMonitor</a>
                            {% endif %}
                        {% endif %}
                        <a href="" onclick="delete_server('{{ host.id }}')">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="myModal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 id="title-name">Add Server</h2>
            </div>
            <div class="modal-body">
                <div class="modal-col">
                    <div class="label">
                        <label>GroupName: </label>
                     </div>
                    <div class="input">
                        <select id="GroupName">
                            <option value="" selected></option>
                            {% for group in groups %}
                                <option value="{{ group.id }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-col">
                    <div class="label">
                        <label>ServerRoom: </label>
                     </div>
                    <div class="input">
                        <select id="ServerRoom">
                            <option value="" selected></option>
                            {% for group in groups %}
                                <option value="{{ group.id }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-col">
                    <div class="label">
                        <label>ServerName: </label>
                     </div>
                    <div class="input">
                        <input id="ServerName" type="text" placeholder="Please input server's name">
                    </div>
                </div>
                <div class="modal-col">
                    <div class="label">
                        <label>ServerIP: </label>
                    </div>
                    <div class="input">
                        <input id="ServerIP" type="text" placeholder="Please input server IP">
                    </div>
                </div>
                <div class="modal-col">
                    <div class="label">
                        <label>Port：</label>
                    </div>
                    <div class="input">
                        <input id="Port" type="text" value="22" placeholder="Please input server IP">
                    </div>
                </div>
                <div class="modal-col">
                    <div class="label">
                        <label>UserName：</label>
                    </div>
                    <div class="input">
                        <input id="UserName" type="text" value="root" placeholder="Please input server username">
                    </div>
                </div>
                <div class="modal-col">
                    <div class="label">
                        <label>Password：</label>
                    </div>
                    <div class="input">
                        <input id="Password" type="password" placeholder="Please input server password">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="cancel">Cancel</a>
                <a class="submit">Submit</a>
            </div>
        </div>
    </div>
    <div class="myModal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 id="title-name">Edit User</h2>
            </div>
            <div class="modal-body">
                <div class="modal-col">
                    <div class="label">
                        <label>Operate: </label>
                     </div>
                    <div class="input">
                        <select id="operator">
                            <option value="add">Add User to Group</option>
                            <option value="delete">Remove User from Group</option>
                        </select>
                    </div>
                </div>
                <div class="modal-col">
                    <div class="label">
                        <label>GroupName: </label>
                     </div>
                    <div class="input">
                        <select id="group_name_1">
                            <option value="" selected></option>
                            {% for group in groups %}
                                <option value="{{ group.id }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-col">
                    <div class="label">
                        <label>UserName：</label>
                    </div>
                    <div class="input">
                        <input id="user_name_1" type="text" placeholder="Please input username ~">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="cancel">Cancel</a>
                <a class="submit">Submit</a>
            </div>
        </div>
    </div>
    <div class="myModal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 id="title-name">Create Group</h2>
            </div>
            <div class="modal-body">
                <div class="modal-col">
                    <div class="label">
                        <label>GroupName：</label>
                    </div>
                    <div class="input">
                        <input id="group_name_2" type="text" placeholder="Please input group name ~">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="cancel">Cancel</a>
                <a class="submit">Submit</a>
            </div>
        </div>
    </div>
    <div class="modal_cover">
        <div class="modal_gif"></div>
    </div>
    <input type="text" id="location" value="{% url 'shell:index' %}" style="display: none;">
    <script type="text/javascript">
    $(function () {
        PagingManage($("#paging"), {{ total_page }}, {{ page }}, '{% url 'shell:index' %}?pageSize=' + {{ page_size }} + '&page=')
    });
    </script>
{% endblock %}

