{% extends 'perf_home.html' %}
{% load static compress %}
{% block add_js %}
    {% compress js %}
    <script src="{% static 'performance/js/echarts.common.js' %}"></script>
    {% endcompress %}
{% endblock %}
{% block navigate %}
    <a href="{% url 'perf:plan_home' %}">Test Plan</a><span>>></span><span>Add Plan</span>
{% endblock %}
{% block detail %}
    <div class="list-body">
        <div class="row-cols"><div class="label-div"><label>Name:</label></div>
            <div class="value-div"><input type="text" id="name" placeholder="Please input test plan name ~"></div></div>
        <div class="row-cols"><div class="label-div">
            <div class="helpstyle"><span data-tooltip="Please select a group name.">?</span></div><label>GroupName: </label></div>
            <div class="value-div"><select id="group-name">
                    {% for g in groups %}
                        <option value="{{ g.id }}">{{ g.name }}</option>
                    {% endfor %}
                </select></div></div>
        <div class="row-cols"><div class="label-div">
            <div class="helpstyle"><span data-tooltip="Run tearDown Thread Groups after shutdown of main threads. Default: True.">?</span></div><label>tearDown: </label></div>
            <div class="value-div"><select id="tearDown">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select></div></div>
        <div class="row-cols"><div class="label-div">
            <div class="helpstyle"><span data-tooltip="Run Thread Groups consecutively (i.e. one at a time). Default: True.">?</span></div><label>Serialize:</label></div>
            <div class="value-div"><select id="serialize">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select></div></div>
        <div class="row-cols"><div class="label-div">
            <div class="helpstyle"><span data-tooltip="Run type. Special thread group or special TPS.">?</span></div><label>runType:</label></div>
            <div class="value-div"><select id="run_type">
                    <option value="1">TPS</option>
                    <option value="0">Thread</option>
                </select></div></div>
        <div class="row-cols"><div class="label-div">
            <div class="helpstyle"><span data-tooltip="It is target number of the test. When 'runType' is 'Thread', it is target number of thread group. When 'runType' is 'TPS', it is target number of TPS.">?</span></div><label>Target TPS:</label></div>
            <div class="value-div"><input type="text" id="target_number" placeholder="Please input target number ~"></div></div>
        <div class="row-cols"><div class="label-div">
            <div class="helpstyle"><span data-tooltip="Duration (seconds). It specifies Thread lifetime.">?</span></div><label>Duration:</label></div>
            <div class="value-div"><input type="text" id="duration" placeholder="Please input duration (seconds) ~"></div></div>
        <div class="row-cols"><div class="label-div">
            <div class="helpstyle"><span data-tooltip="Task run type. Manual: manual running. Automatic: set time to auto-run.">?</span></div><label>Schedule:</label></div>
            <div class="value-div"><select id="schedule">
                    <option value="0">Manual</option>
                    <option value="1">Automatic</option>
                </select></div></div>
        <div class="row-cols" id="time-setting" style="display: none;"><div class="label-div"><label>Time Setting:</label></div>
            <div class="value-div">
                <button onclick="add_timing();">Add Timing + </button>
                <button onclick="del_timing();">Del Timing - </button>
                <button onclick="preview_timing();"> Preview </button>
            </div><div id="add-timing"></div></div>
        <div class="row-cols"><div class="label-div">
            <div class="helpstyle"><span data-tooltip="Specify Pressure Server's room. When running, it will select server randomly from server room.">?</span></div><label>Server Room:</label></div>
            <div class="value-div"><select id="server_room">
                    {% for s in server_rooms %}
                        <option value="{{ s.id }}">{{ s.name }}</option>
                    {% endfor %}
                </select></div></div>
        <div class="row-cols"><div class="label-div">
            <div class="helpstyle"><span data-tooltip="It specifies the number of pressure servers.">?</span></div><label>Server Number:</label></div>
            <div class="value-div"><input type="text" id="server-num" placeholder="Please input Server Number, default 1 ~"></div></div>
        <div class="row-cols"><div class="label-div">
            <div class="helpstyle"><span data-tooltip="Debug is only used to debug, if run performance test, Please set it to 'No Debug Mode'.">?</span></div><label>isDebug:</label></div>
            <div class="value-div"><select id="isDebug">
                    <option value="0">No Debug Mode</option>
                    <option value="1">Debug Mode (Only used to debug)</option>
                </select></div></div>
        <div class="row-cols"><div class="label-div"><label>Comment:</label></div>
            <div class="value-div"><input type="text" id="comment" placeholder="Please input test plan comment ~"></div></div></div>
    <div class="list-footer"><div><a href="{% url 'perf:plan_home' %}">Cancel</a>
            <a href="#" onclick="add_plan('{% url 'perf:plan_add' %}', '{% url 'perf:plan_home' %}')">Submit</a></div></div>
    <div class="myModal"><div class="modal-content" style="width: 42%;"><div class="modal-header"><span class="close">&times;</span></div><div class="modal-body"><div id="preview" style="width: 100%; height: 200px;"></div></div></div></div>
{% endblock %}
{% block define_js %}
    {% compress js %}
    <script src="{% static 'performance/js/plan.js' %}"></script>
    <script src="{% static 'performance/js/preview.js' %}"></script>
    <script type="text/javascript">
        document.getElementById('run_type').onchange = function () {
            let s = document.getElementById('run_type').value;
            if (s === '0') {
                document.getElementsByClassName('label-div')[4].getElementsByTagName('label')[0].innerText = 'Thread Num';
                document.getElementById('add-timing').innerHTML = '';
            } else {
                document.getElementsByClassName('label-div')[4].getElementsByTagName('label')[0].innerText = 'Target TPS';
                document.getElementById('add-timing').innerHTML = '';
            }
        }
        document.getElementById('schedule').onchange = function () {
            let s = document.getElementById('schedule').value;
            if (s === '0') {document.getElementById('time-setting').style.display = 'none';}
            else {document.getElementById('time-setting').style.display = '';}
        }
    </script>
    {% endcompress %}
{% endblock %}
