{% extends 'perf_home.html' %}
{% load static compress %}
{% block add_js %}
    {% compress js %}
    <script src="{% static 'performance/js/plan.js' %}"></script>
    {% endcompress %}
{% endblock %}
{% block navigate %}
    <a href="{% url 'perf:plan_home' %}">Test Plan</a><span>>></span><span>Variables</span>
{% endblock %}
{% block searchBlock %}
{% endblock %}
{% block detail %}
    <div class="detail-action" style="margin-bottom: 3%;"><a href="#" onclick="add_variable();">Add Variable</a>
        <a href="#" onclick="delete_variable();">Delete Variable</a></div>
    <div class="list-body" id="variable-list">
        {% if variables.variables %}
            {% for foo in variables.variables %}
                <div class="row-var">
                    <label>Name:</label>
                    <input type="text" id="var-name" placeholder="Please input variable name ~" value="{{ foo.name }}">
                    <label>Value:</label>
                    <input type="text" id="var-value" placeholder="Please input variable value ~" value="{{ foo.value }}">
                    <label>Comment:</label>
                    <input type="text" id="var-comment" placeholder="Please input variable comment ~" value="{{ foo.comment }}">
                </div>
            {% endfor %}
        {% else %}
            <div class="row-var"><label>Name:</label><input type="text" id="var-name" placeholder="Please input variable name ~">
                <label>Value:</label><input type="text" id="var-value" placeholder="Please input variable value ~">
                <label>Comment:</label><input type="text" id="var-comment" placeholder="Please input variable comment ~"></div>
        {% endif %}
    </div>
    <div class="list-footer"><div><a href="{% url 'perf:plan_home' %}">Cancel</a>
        <a href="#" onclick="save_variable('{% url 'perf:plan_variable' %}', '{% url 'perf:plan_home' %}', {{ variables.id }})">Submit</a></div></div>
{% endblock %}
{% block define_js %}
    {% compress js %}
    <script type="text/javascript">
        function add_variable() {
            let c = document.getElementById('variable-list');
            let s = '<div class="row-var">' +
                '<label>Name:</label> <input type="text" id="var-name" placeholder="Please input variable name ~"> ' +
                '<label>Value:</label> <input type="text" id="var-value" placeholder="Please input variable value ~"> ' +
                '<label>Comment:</label> <input type="text" id="var-comment" placeholder="Please input variable comment ~"></div>';
            c.appendChild(document.createRange().createContextualFragment(s));
        }
        function delete_variable() {
            let c = document.getElementById('variable-list');
            let div = c.getElementsByTagName('div');
            if(div.length > 0) {c.removeChild(div[div.length - 1]);}
        }
    </script>
    {% endcompress %}
{% endblock %}
